@import "../../styles/vars";
@import "../../styles/functions";
@import "../../styles/common";

.hero {
  padding: rem(60px) rem(20px) rem(30px);

  &__image,
  &__info {
    grid-column: 1/-1;
  }

  &__btn {
      margin-top: rem(20px);
  }

  &__image {
    order: 0;

    @media only screen and (min-width: rem(760px)) {
      order: 1;
      grid-column: 6/13;
    }

    img {
      width: 100%;
    }
  }

  &__info {
    order: 1;
    @media only screen and (min-width: rem(760px)) {
      grid-column: 1/5;
    }
  }
}
