$base-font-size: 16px;
$main-font: "Montserrat", sans-serif;
$colors: (
  "green-100": #00d2b5,
  "green-200": #00e7c8,
  "blue-100": #3F81E2,
  "blue-200": #468cf7,
  "red-900": #a81314,
  "yellow-100": #ffe600,
  "grey-100": #202124,
  "grey-200": #767676,
  "grey-300": "#818181",
  "grey-400": #f6f6f6,
  "white": #fff,
  "black": #000
);
