@import "../../styles/vars";
@import "../../styles/functions";

.icon {
    align-items: center;
    background-color: color('green-100');
    border-radius: 100%;
    color: color('white');
    display: flex;
    height: rem(50px);
    justify-content: center;
    margin-right: rem(10px);
    width: rem(50px);

    &--lib {
        display: inline-block;
        position: relative;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    svg {
        width: 60%;
        height: 60%;
    }
}