@import "../../styles/vars";
@import "../../styles/functions";

h1,
h2,
h3,
h4 {
  line-height: 0.9;
  font-family: $main-font;
}

h1 {
  font-size: rem(64px);
  letter-spacing: rem(-1px);
}

h2 {
  font-size: rem(48px);
  letter-spacing: rem(-1.4px);
}

h3 {
    font-size: rem(36px);
    font-weight: normal;
    letter-spacing: rem(-0.9px);
}
