@import "../../styles/vars";
@import "../../styles/functions";

h1,
h2,
h3,
h4 {
  line-height: 0.9;
  font-family: $main-font;
}

h1 {
  font-size: rem(48px);
  letter-spacing: rem(-1px);

  @media only screen and (min-width: rem(760px)) {
    font-size: rem(56px);
    line-height: 1.2;
  }
}

h2 {
  font-size: rem(24px);
  letter-spacing: rem(-1.4px);

  @media only screen and (min-width: rem(760px)) {
    font-size: rem(48px);
  }
}

h3 {
    font-size: rem(24px);
    font-weight: normal;
    letter-spacing: rem(-0.9px);


    @media only screen and (min-width: rem(760px)) {
      font-size: rem(36px);
    }
}

h4, .h4 {
  font-size: rem(18px);
  font-weight: normal;
}
